.app {
  height: 100vh;
  background-color:  rgb(66, 66, 66);
}

.loading {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 31px;
}

.body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 15px 15px;
  width: 100%;
  background-color:  rgb(66, 66, 66);
}

.menu {
  box-sizing: border-box;
  display: flex;
  height: 66px;
  width: 100%;
  background-color: rgb(94, 94, 94);
}

.menuBlock {
  width: 5%;
  height: inherit;
  background-color: #0036cc;
}

.menuLine {
  position: absolute;
  left: 3%;
  width: 10%;
  height: inherit;
  background-color: #0036cc;
  -o-transform: skewX(-30deg);
  transform: skewX(-30deg);
}

.menuLinks {
  left: 10%;
  margin-left: 9%;
  display: flex;
  align-items: center;
}

.menuLink {
  margin-left: 10px;
  display: flex;
  font-weight: bold;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

.menuLink:hover {
  color: #0036cc;
  transition: 0.3s;
  transform: translateZ(0);
}

.homeMenuLink {
  position: absolute;
  right: 89%;
  top: 0;
  height: 66px;
  width: 12%;
  z-index: 1;
}

.table {
  width: 60%;
  display: flex;
  flex-direction: column;
  color: white;
}

.tableHead {
  width: 100%;
  display: flex;
}

.tableBody {
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tableBodyRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  margin-top: 6px;
  padding: 14px;
}

.tableBodyRowTitle {
  width: 240px;
  text-align: center;
}

.tableBodyRowGenre {
  width: 150px;
  text-align: center;
}

.tableBodyRowCategory {
  width: 60px;
  text-align: center;
}

.tableBodyRowSeries {
  width: 110px;
  text-align: center;
}

.tableBodyRowYear {
  width: 70px;
  text-align: center;
}


.animeImage {
  height: 200px; 
  width: 170px;
}

.createForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createFormInput {
  background-color: rgb(94, 94, 94);
  border: none;
  color: white;
  outline: none;
  height: 30px;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  margin-top: 12px;
}

.createFormButton {
  background-color: rgb(94, 94, 94);
  font-weight: bold;
  border: none;
  color: white;
  outline: none;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  min-width: 100px;
  border-radius: 20px;
  margin-top: 12px;
}

.createFormButton:hover {
  cursor: pointer;
  transition: 0.3s;
  color: #0036cc;
}

.whiteTextColor {
  color: white;
}

.addIconWrapper {
  position: fixed;
  bottom: 2%;
  right: 1%;
  color: #0036cc;
}

.editDeleteAge {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editDeleteIconWrapper {
  margin-top: 13px;
  height: 38%;
}

.editDeleteIcon {
  color: rgb(170, 170, 170);
}

.editDeleteIcon:hover {
  color: #0036cc;
  transition: 0.3s;
}

.displayFlex {
  display: flex;
}

.sortDropdown {
  margin-top: 50px;
}

.MuiMenu-list {
  background-color: #0036cc;
  color: white;
}

/* .input, .output {
  overflow-y: auto;
  outline: none;
  resize: none;
  text-decoration: none;
  height: 50vh;
  width: 45vw;
  padding: 20px 20px;
  margin: 8px 0;
  background-color: #1d2325;
  color: rgb(177, 177, 177);
  font-size: larger;
  box-sizing: border-box;
  border: 2px solid #1d2325;
  border-radius: 25px;
  scrollbar-width: thin;
  scrollbar-color: #002c42 transparent;
}

.input::-webkit-scrollbar,
.output::-webkit-scrollbar  {
  width: 4px;
}

.input::-webkit-scrollbar-track,
.output::-webkit-scrollbar-track {
  margin: 15px 0;
  -webkit-border-radius: 10px;
  border-radius: 4px;
}

.input::-webkit-scrollbar-thumb,
.output::-webkit-scrollbar-thumb {
  height: 40px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #002c42;
} */
